
WarehouseProject_TODO/.idea/misc.xml
WarehouseProject_TODO/__pycache__/gui.cpython-311.pyc
WarehouseProject_TODO/agentsearch/__pycache__/agent.cpython-311.pyc
*.pyc
WarehouseProject_TODO/.idea/misc.xml
WarehouseProject_TODO/.idea/misc.xml
WarehouseProject_TODO/.idea/misc.xml
WarehouseProject_TODO/.idea/misc.xml
WarehouseProject_TODO/.idea/misc.xml
*.pyc
